h1 {
    color: #000000;
    font-size:30px;
    font-weight:bold;
}
h2 {
    color: White;
    font-size:30px;
    font-weight:bold;
}


h3 {
    color: #000000;
    font-size:60px;
    font-weight:bold;
    font-style: italic;
}

body{
    background-image: url('/static/images/residential house/Rustic/rustic4.jpg');
     opacity: 1;
     position: center;
     background-size:cover;
}

#demo{
    font-size:20px;
    color:#000000;
    font-weight:bold;
}

#project{
    font-size:40px;
    color:#000000;
    font-weight:bold;
}
#number{
    font-size:30px;
    color:white;
    font-weight:bold;
}
h5{
    color: #000000;
    font-size:30px;
    font-weight:bold;
}

#headings{
    color: #000000;
    font-size:30px;
    font-weight:bold;
}

#slide3tag{
    color:	white;
    font-size:30px;
    font-weight:bold;
}
#slide4tag{
    color:	#F8F8FF;
    font-size:30px;
    font-weight:bold;
}
.form-label{
    color: #e3f2fd;
    font-weight:bold;
    font-size:20px;
}
.lead{
    font-weight: bold;
}
#about-nyumba{
    font-family:'oswald', sans-serif;
}