{% extends 'base.html' %}
{%block content%}
  <br/>

<div class="p-5 rounded-lg m-3"style="background-color: #e3f2fd;>
  <h1 class="display-4" ><strong>About Nyumba Solutions</strong></h1>
  <p class="lead">Nyumba solutions offer architectural design & construction services; services such as planning and designing residential, institutional, leisure, commercial and industrial buildings and structures by applying knowledge of design, construction procedures, zoning regulations, building codes and building materials and other related services. </p>
  <p class="lead">Nyumba solutions is a focused and result driven architectural services firm that provides broad- based services at an affordable fee that won’t in any way put a hole in the pockets of our clients.</p>
  <p class="lead">We will offer a standard and professional architectural design services to all to our individual clients. We will ensure that we work hard to meet and surpass our clients’ expectations whenever they hire our services.</p>
  <a class="btn btn-secondary btn-lg" href="{{url_for('views.contact')}}" role="button">Contact Us</a>
</div>

{% endblock %}