{% extends 'base.html' %}
{%block content%}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" >
<div class="container-fluid">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="{{url_for('static', filename='images/residential house/Rustic/rustic1.jpg')}}" width=1300 class="d-block w-70" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 id="slide3">Residential House</h5>
        <a href="{{url_for('views.residents')}}" id="slide3tag"><p>Residential Houses Designs.</p></a>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="{{url_for('static', filename='images/interiors/int2.jpeg.jpg')}}" width=1300 class="d-block w-70" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 id="slide3">Interiors</h5>
        <a href="{{url_for('views.interiors')}}" id="slide3tag"><p>Interior Designs.</p></a>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="{{url_for('static', filename='images/institutions/kind.jpeg.jpg')}}" width=1300 class="d-block w-70" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 id="slide3">Institutions</h5>
        <a href="{{url_for('views.institutions')}}" id="slide3tag"><p>Institutions Designs.</p></a>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="{{url_for('static', filename='images/warehouse/OPT 2.jpg')}}" width=1200 class="d-block w-70" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 id="slide4tag">Bowling Alley</h5>
        <a href="{{url_for('views.bowling')}}" id="slide3tag"><p>Bowling Alley Design.</p></a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<br><br>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='images/favicon.ico2.jpg')}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Nyumba solutions</h5>
        <p class="card-text">Nyumba solutions offer architectural design & construction services ,planning and designing residential, institutional, leisure, commercial and industrial buildings.</p>
      </div>
      <a href="{{url_for('views.about_us')}}" class="btn btn-primary">About Us</a>  <a href="{{url_for('views.contact')}}" class="btn btn-secondary">Contact Us</a>
    </div>
  </div>
</div>
  <p id="demo"> Created by Kindred Solutions</p>
{% endblock %}